.grid {
  margin-top: 80px;
}

.row {
  display: grid;
  grid-template-columns: 60fr 40fr;
  gap: 24px;
}

.row + .row {
  margin-top: 24px;
}

.fullWidth {
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  .grid {
    margin-top: 48px;
  }

  .row {
    grid-template-columns: 1fr;
  }
}
