.overlay {
  display: none;
}

@media (max-width: 768px) {
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: inherit;
    pointer-events: none;
  }
}
